*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.textBlock {
    text-align: left;
}

/*=============================== header =======================================*/

header {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

header div, nav {   /* обобщиl стиль с НАВОМ*/
    display: flex;
    align-items: center;
    margin: 0 24px;
}

header img {
    height: 38px;
    width: auto;
}

#logoDiv p {
    color: grey;
    font-family: "Arial", sans-serif;
    font-size: 1.5rem;
}

#logoDiv span {
    font-weight: bold;
    color: black;
}

nav a {
    padding: 0 16px;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
/*=============================== Section Learn New Something =======================================*/
#learnNew {
    width: 100vw;
    background-color: gainsboro;
    display: flex;
    align-items: center;
}

#bannerBox {
    width: 60vw;
}

#learnNew img {
    width: 100%;
    max-width: 100%;
    height:auto;
    padding: 32px 24px 32px 24px;
}

#learnNew .textBlock {
    /* width: 25%; */
    margin: 24px;
    color: #4f4f4f;
}

#learnNew h1 {
    font-size: 3rem;
    font-weight: bold;
}

#learnNew .buttonDiv {
    width: 100%;
    background-color: #4f4f4f;
    text-align: center;
    color: white;
}

#lorem {
    margin: 24px auto 32px  auto;
    font-size: 1.5rem;
    font-weight: 500;
}

.buttonDiv p {
    padding: 8px;
}
/*=============================== Section Keep Practicing =======================================*/
#keepPracticing {
    width: 100vw;
    display: flex;
}

#bigImgPlusTextBlock {
    border-right: 1px solid gainsboro;
    width: 60vw;
    font-size: 1.2rem;
}

#bigImgPlusTextBlock .infoText {
    padding: 0 24px 0 24px;
}

#readingGuy {
    width: 100%;
    max-width: 100%;
    height:auto;
    padding: 32px 24px 32px 24px;
}

#bigImgPlusTextBlock h2 {
    margin-top:0;
    margin-bottom:24px;
    font-weight: bold;
    font-size: 2.5rem;
}

#sign {
    margin-bottom:32px;
    margin-top: 32px;
}

#threeVertBlocks {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.smallImgPlusText {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid gainsboro;
}

#small_1 {
    padding-top:32px;
}

#small_3 {
    border-bottom: 1px solid white;
}

.smallImgPlusText .infoText {
    padding-left: 24px;
}

.smallImgPlusText img {
    width: 38.25%;
    height: auto;
}

.smallImgPlusText p {
    padding-top:8px;
    padding-bottom:8px;
    font-size:1.2rem;
}

.smallImgPlusText h3 {
    font-size:1.7rem;
}

.smallImgPlusText a {
    font-size:1.2rem;
    color: deepskyblue;
    text-decoration: none;
}

#small_3 {
    background-color: gainsboro;
}
/*=============================== Section Start Learning =======================================*/
#startLearning {
    width: 100vw;
    background-color:gainsboro;
    padding-bottom: 32px;
}

#startLearning h2 {
    text-align:center;
    font-weight: bold;
    font-size: 2.5rem;
    padding:32px 0;
}

#gridSixBox {
    margin: 0 72px 0 72px;
    width: calc(100vw - 72px*2);
    border: 1px solid red;
    display:grid;
    grid-gap:32px;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
}

.gridCell {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    text-align: left;
    background-color: white;
}

#startLearning h3{
    font-size:1.7rem;
}

#startLearning p {
    font-size:1.2rem;
    line-height: 1.4;
}

.gridCell img {
    width:100%;
    height:auto;
}

#gridSixBox .textBlock {
    padding: 16px 16px 24px 16px;
}

.COURCES {
    margin: 8px auto;
}
/*=============================== Section Thesis exhibit =======================================*/
#thesisExhibit {
    width: 100vw;
    background-color:white;
}

#thesisExhibit h2 {
    text-align:center;
    font-weight: bold;
    font-size: 2.5rem;
    padding-top:32px;
}

#bigVideoPlusTextBlock h2 {
    text-align:left;
}

#thesisExhibit #mainContainer {
    display: flex;
}

#bigVideoPlusTextBlock {
    width: 60vw;
    font-size: 1.2rem;
}

#bigVideoPlusTextBlock .infoText {
    padding: 0 24px 0 24px;
}

#videoFile {
    width: 100%;
    max-width: 100%;
    height:auto;
    padding: 32px 24px 0 24px;
}

#bigVideoPlusTextBlock h2 {
    margin-top:0;
    margin-bottom:24px;
    font-weight: bold;
    font-size: 2.5rem;
}

#twoVertBlocks {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.smallImgPlusText {
    display: flex;
    align-items: center;
    padding: 16px;
}

#small_4 {
    margin-top:32px;
    background-color: gainsboro;
}

#small_5 {
    border: none;
}

.smallImgPlusText .infoText {
    padding-left: 24px;
}

.smallImgPlusText img {
    width: 38.25%;
    height: auto;
}

.smallImgPlusText p {
    padding-top:8px;
    padding-bottom:8px;
    font-size:1.2rem;
}

.smallImgPlusText h3 {
    font-size:1.7rem;
}

/*=============================== footer =======================================*/